<mat-toolbar color="primary">
  <button *ngIf="isInterviewPage()" mat-icon-button (click)="goBack()" aria-label="Back to dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="logo-container" *ngIf="!isInterviewPage()" routerLink="/dashboard">
    

 
    <span>SpeakUp</span>
  </div>

  <span class="spacer"></span>

  <button *ngIf="!isInterviewPage()" mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item routerLink="/dashboard">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>